.footer {
  width: 100%;
  min-height: 100vh;
  background-color: #201e39;
  margin-top: 200px;
  padding: 10px;
}

.footer-div {
  width: 1200px;
  height: 450px;
  background: linear-gradient(90deg, #ff1d6a -3.25%, #ff6e2e 101.19%);
  border-radius: 32px;
  padding: 5px;
  margin-left: 150px;
  margin-top: -200px;
  z-index: 50;
}

.footer-h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 67.2px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.footer-p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 27.2px;
  margin-top: 20px;
  text-align: center;
}

.input {
  display: block;
  width: 525px;
  height: 70px;
  border-radius: 16px;
  border: 0;
  outline: 0;
}

.footer-btn {
  width: 198px;
  height: 70px;
  border-radius: 16px;
  background-color: #201e39;
  font-size: 16px;
  color: #ffffff;
  line-height: 22.4px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  outline: 0px;
  margin-left: 20px;
}

.input-btn {
  display: flex;
  margin-left: 270px;
  margin-top: 30px;
}

.logo-footer {
  width: 160px;
  height: 60px;
  margin-top: 100px;
  margin-left: 150px;
}

.footer-p-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  color: #ffffff;
  opacity: 50%;
  margin-top: 20px;
  margin-left: 150px;
}

.footer-p-3 {
  margin-top: 200px;
  margin-left: 150px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.78px;
}

.footer-p-4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.44px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  color: #ffffff;
}

.footer-p-5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.44px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  color: #ffffff;
  margin-left: 40px;
}

.footer-p-6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.44px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  color: #ffffff;
  margin-left: 40px;
}

.all-p {
  display: flex;
  margin-top: 20px;
  margin-left: 150px;
}

.app-footer {
  width: 142px;
  height: 48px;
}

.google-footer {
  width: 159px;
  height: 48px;
  margin-left: 20px;
}

.app-google-2 {
  display: flex;
  margin-left: 600px;
}

.all-p-app-google {
  display: flex;
}

ul li {
  display: block;
  list-style: none;
  font-size: 20px;
  margin-left: 150px;
  color: #ffffff;
  margin-top: 10px;
  line-height: 23.48px;
  font-weight: 500;
}

.ul-p {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  opacity: 50%;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 150px;
}

.all-ul {
  display: flex;
  margin-top: 100px;
}

.all-logo-p-2 {
  display: block;
}

.all-logo-p-all-ul {
  display: flex;
}

.fb-ig-x-img {
  width: 241px;
  height: 70px;
  margin-top: 100px;
  margin-left: 50px;
}
/* ------------ media query ----------- */

@media (max-width: 650px) {
  .footer-div {
    width: 326px;
    height: 412px;
    background: linear-gradient(90deg, #ff1d6a -3.25%, #ff6e2e 101.19%);
    border-radius: 32px;
    padding: 5px;
    margin-left: 7px;
    margin-top: -200px;
    z-index: 50;
  }

  .footer-h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
  }

  .footer-p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: 23.8px;
    margin-top: 20px;
    text-align: center;
  }

  .input {
    display: block;
    width: 278px;
    height: 70px;
    border-radius: 16px;
    border: 0;
    outline: 0;
  }

  .footer-btn {
    width: 278px;
    height: 70px;
    border-radius: 16px;
    background-color: #201e39;
    font-size: 16px;
    color: #ffffff;
    line-height: 22.4px;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
    outline: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .input-btn {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
  }

  .all-logo-p-all-ul {
    display: block;
  }

  .logo-footer {
    width: 160px;
    height: 60px;
    margin-top: 100px;
    margin-left: 20px;
  }

  .footer-p-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    color: #ffffff;
    opacity: 50%;
    margin-top: 20px;
    margin-left: 20px;
  }

  ul li {
    display: block;
    list-style: none;
    font-size: 20px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 10px;
    line-height: 23.48px;
    font-weight: 500;
  }
  .ul-p {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    opacity: 50%;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .fb-ig-x-img {
    width: 241px;
    height: 70px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .footer-p-3 {
    margin-top: 70px;
    margin-left: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.78px;
  }

  .footer-p-4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    color: #ffffff;
  }

  .all-p {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
  }

  .all-p-app-google {
    display: block;
  }

  .app-google-2 {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
  }

  .app-footer {
    width: 142px;
    height: 48px;
  }

  .google-footer {
    width: 159px;
    height: 48px;
    margin-left: 10px;
  }
}
